<%= link_to "Log out", destroy_user_session_path, method: :delete %>

<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Date of birth</th>
      <th>Credit card</th>
      <th>Franchise</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

